{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Historial de Imágenes hechas con IA</h1>
        <div class="text-center mt-3">
            <a href="{% url 'descargar_imagenes_zip' %}" class="btn btn-secondary">Descargar todas las imágenes</a>

        </div>
 
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>

                </tr>
            </thead>
            <tbody>
                {% for imagen in imagenes %}
                    <tr>
                        <td>{{ imagen.nombre }}</td>
                        <td>
                            <img src="{{ imagen.imagen.url }}" alt="{{ imagen.nombre }}" style="max-width: 100px;">
                        </td

                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">No hay imágenes en el historial.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
